src/flows/LNE_NewEventScreen-15.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Screen_Variables</name>
        <label>Assign Screen Variables</label>
        <locationX>742</locationX>
        <locationY>272</locationY>
        <assignmentItems>
            <assignToReference>vAppetizeEvent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AppetizeEvent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOver5Hours</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Over5Hours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTemporaryStageToBeUsed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TemporaryStageToBeUsed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LNE_NewEventRecordsSubFlow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Screen_Variables_0</name>
        <label>Assign Screen Variables</label>
        <locationX>741</locationX>
        <locationY>370</locationY>
        <assignmentItems>
            <assignToReference>vAppetizeEvent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AppetizeEvent_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOver5Hours</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Over5Hours_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTemporaryStageToBeUsed</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TemporaryStageToBeUsed_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vRentalBuildOption</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rental_Build_Option</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LNE_NewEventRecordsSubFlow</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>cPleaseSelect</name>
        <choiceText>--Please Select--</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Force_Build_Option_Selection</name>
        <label>Force Build Option Selection</label>
        <locationX>547</locationX>
        <locationY>368</locationY>
        <defaultConnector>
            <targetReference>Assign_Screen_Variables_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Selected</defaultConnectorLabel>
        <rules>
            <name>NotSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Rental_Build_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>cPleaseSelect</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_a_Build_Option</targetReference>
            </connector>
            <label>Not Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>ShowNextScreen</name>
        <label>Show Next Screen</label>
        <locationX>116</locationX>
        <locationY>209</locationY>
        <defaultConnector>
            <targetReference>EventOptions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ShowScreen</defaultConnectorLabel>
        <rules>
            <name>DoNotShowScreen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LNE_NewEventRecordsSubFlow</targetReference>
            </connector>
            <label>DoNotShowScreen</label>
        </rules>
        <rules>
            <name>ShowScreenRental</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rental</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EventOptionsRental</targetReference>
            </connector>
            <label>Show Screen (Rental)</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>pcRentalBuildOption</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>RentalBuildOption__c</picklistField>
        <picklistObject>Event__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <description>Sets the appetize event checkbox to false as a default</description>
        <name>fAppetizeEvent</name>
        <dataType>Boolean</dataType>
        <expression>{!AppetizeEvent} = FALSE</expression>
    </formulas>
    <formulas>
        <name>fEventName</name>
        <dataType>String</dataType>
        <expression>{!vPrimaryHeadlinerArtistName} &amp; &quot; at &quot; &amp; {!vVenueName} &amp; &quot; - &quot; &amp; 

IF(TEXT({!vEventDate}) = NULL, {!vTargetYear}, TEXT({!vEventDate}))</expression>
    </formulas>
    <interviewLabel>LNE_NewEventScreen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LNE_NewEventScreen</label>
    <processType>Flow</processType>
    <screens>
        <name>EventDetails</name>
        <label>Event Details</label>
        <locationX>115</locationX>
        <locationY>98</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ShowNextScreen</targetReference>
        </connector>
        <fields>
            <name>EventNameScreen</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>vEventName</elementReference>
            </defaultValue>
            <fieldText>Event Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ShowStartTime</name>
            <dataType>String</dataType>
            <fieldText>Show Start Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>Show start time must be in this format HH:MM AM|PM. Please correct the time format before proceeding.</errorMessage>
                <formulaExpression>REGEX({!ShowStartTime} , &quot;^([1-9]|[0-1][0-2]):[0-5][0-9] [A|P]M&quot;)</formulaExpression>
            </validationRule>
        </fields>
    </screens>
    <screens>
        <name>EventOptions</name>
        <label>Event Options</label>
        <locationX>356</locationX>
        <locationY>269</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Screen_Variables</targetReference>
        </connector>
        <fields>
            <name>AppetizeEvent</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>vAppetizeEvent</elementReference>
            </defaultValue>
            <fieldText>Appetize Event</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Over5Hours</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>vOver5Hours</elementReference>
            </defaultValue>
            <fieldText>Over 5 Hours</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TemporaryStageToBeUsed</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>vTemporaryStageToBeUsed</elementReference>
            </defaultValue>
            <fieldText>Temporary Stage To Be Used</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>EventOptionsRental</name>
        <label>Event Options (Rental)</label>
        <locationX>356</locationX>
        <locationY>368</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Force_Build_Option_Selection</targetReference>
        </connector>
        <fields>
            <name>Rental_Build_Option</name>
            <choiceReferences>cPleaseSelect</choiceReferences>
            <choiceReferences>pcRentalBuildOption</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Rental Build Option</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AppetizeEvent_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>vAppetizeEvent</elementReference>
            </defaultValue>
            <fieldText>Appetize Event</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Over5Hours_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>vOver5Hours</elementReference>
            </defaultValue>
            <fieldText>Over 5 Hours</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TemporaryStageToBeUsed_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>vTemporaryStageToBeUsed</elementReference>
            </defaultValue>
            <fieldText>Temporary Stage To Be Used</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Select_a_Build_Option</name>
        <label>Select a Build Option</label>
        <locationX>447</locationX>
        <locationY>475</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>EventOptionsRental</targetReference>
        </connector>
        <fields>
            <name>MakeASelection</name>
            <fieldText>You did not make a selection for Rental Build Option. Click Next and make your selection.

Build as a Promoted Show: uses expenses and ancillaries available for promoted shows that map to a few rental GLs

Build Using Rental Accounts: uses expenses and ancillaries exclusive to rentals that persist in more granular GLs</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>EventDetails</startElementReference>
    <subflows>
        <name>LNE_NewEventRecordsSubFlow</name>
        <label>LNE_NewEventRecordsSubFlow</label>
        <locationX>900</locationX>
        <locationY>209</locationY>
        <flowName>LNE_NewEventRecords</flowName>
        <inputAssignments>
            <name>vPromoter</name>
            <value>
                <elementReference>vPromoter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vEventDateTime</name>
        </inputAssignments>
        <inputAssignments>
            <name>vRecordTypeId</name>
            <value>
                <elementReference>vRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vRecordTypeName</name>
            <value>
                <elementReference>vRecordTypeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vSubtype</name>
            <value>
                <elementReference>vSubtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vEventDate</name>
            <value>
                <elementReference>vEventDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vEventYear</name>
            <value>
                <elementReference>vTargetYear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vOffice</name>
            <value>
                <elementReference>vOffice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vVenue</name>
            <value>
                <elementReference>vVenue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vEventName</name>
            <value>
                <elementReference>EventNameScreen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vStartTime</name>
            <value>
                <elementReference>ShowStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vAppetizeEvent</name>
            <value>
                <elementReference>vAppetizeEvent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vOver5Hours</name>
            <value>
                <elementReference>vOver5Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vTemporaryStageToBeUsed</name>
            <value>
                <elementReference>vTemporaryStageToBeUsed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vPrimaryHeadlinerArtist</name>
            <value>
                <elementReference>vPrimaryHeadlinerArtist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vRentalBuildOption</name>
            <value>
                <elementReference>vRentalBuildOption</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vEventId</assignToReference>
            <name>vEventId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>vAppetizeEvent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vEventDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vEventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vEventName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>fEventName</elementReference>
        </value>
    </variables>
    <variables>
        <name>vOffice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOver5Hours</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vPrimaryHeadlinerArtist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPrimaryHeadlinerArtistName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPromoter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRentalBuildOption</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vSubtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTargetYear</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTemporaryStageToBeUsed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vVenue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vVenueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
