src/flows/LNE_NewEventRecords-20.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Output_Variable_ID</name>
        <label>Assign Output Variable ID</label>
        <locationX>135</locationX>
        <locationY>414</locationY>
        <assignmentItems>
            <assignToReference>vEventId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sEvent.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Need_Event_Date_Time</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_New_Event</name>
        <label>Assign to New Event</label>
        <locationX>135</locationX>
        <locationY>204</locationY>
        <assignmentItems>
            <assignToReference>sEvent.EventName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vEventName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sEvent.AppetizeEvent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vAppetizeEvent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sEvent.Office__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vOffice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sEvent.Over5Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vOver5Hours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sEvent.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vOwner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sEvent.Promoter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vPromoter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sEvent.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sEvent.RentalBuildOption__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vRentalBuildOption</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sEvent.Subtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vSubtype</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sEvent.TemporaryStageToBeUsed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vTemporaryStageToBeUsed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sEvent.Venue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vVenue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sEvent.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Default_Ticket_Agency</name>
        <label>Default Ticket Agency</label>
        <locationX>400</locationX>
        <locationY>882</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Venue_Ticket_Agencies</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoEventAgency</defaultConnectorLabel>
        <rules>
            <name>CreateEventAgency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sVenueTicketAgency.IncludeinNewEvents__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Event_Ticket_Agency</targetReference>
            </connector>
            <label>CreateEventAgency</label>
        </rules>
    </decisions>
    <decisions>
        <name>Default_Venue_Ticket_Agencies</name>
        <label>Default Venue Ticket Agencies</label>
        <locationX>135</locationX>
        <locationY>754</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Venue_Ticket_Agencies</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>VenueAgenciesExist</defaultConnectorLabel>
        <rules>
            <name>NoVenueAgencies</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scVenueTicketAgencies</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EventPrimaryHeadlinerArtist</targetReference>
            </connector>
            <label>NoVenueAgencies</label>
        </rules>
    </decisions>
    <decisions>
        <name>EventPrimaryHeadlinerArtist</name>
        <label>Event Primary Headliner Artist</label>
        <locationX>135</locationX>
        <locationY>887</locationY>
        <defaultConnectorLabel>No Primary Headliner</defaultConnectorLabel>
        <rules>
            <name>Event_Primary_Headliner_Identified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vPrimaryHeadlinerArtist</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Deal</targetReference>
            </connector>
            <label>Event Primary Headliner Identified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_Event_Date_Time</name>
        <label>Need Event Date Time</label>
        <locationX>135</locationX>
        <locationY>514</locationY>
        <defaultConnector>
            <targetReference>Lookup_Venue_Ticket_Agency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ExistingEventDateTime</defaultConnectorLabel>
        <rules>
            <name>CreateEventDateTime</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vEventDateTime</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Event_Date_Time</targetReference>
            </connector>
            <label>CreateEventDateTime</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordTypeID</name>
        <label>Record Type ID</label>
        <locationX>134</locationX>
        <locationY>96</locationY>
        <defaultConnector>
            <targetReference>Assign_to_New_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>RecordTypeIdAssigned</defaultConnectorLabel>
        <rules>
            <name>LookupRecordTypeId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecordTypeIDLookup</targetReference>
            </connector>
            <label>LookupRecordTypeId</label>
        </rules>
    </decisions>
    <formulas>
        <name>fOwner</name>
        <dataType>String</dataType>
        <expression>IF({!vPromoter} = &quot;&quot;, {!$User.Id}, {!vPromoter} )</expression>
    </formulas>
    <interviewLabel>LNE_NewEventRecords {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LNE_NewEventRecords</label>
    <loops>
        <name>Loop_Through_Venue_Ticket_Agencies</name>
        <label>Loop Through Venue Ticket Agencies</label>
        <locationX>400</locationX>
        <locationY>756</locationY>
        <assignNextValueToReference>sVenueTicketAgency</assignNextValueToReference>
        <collectionReference>scVenueTicketAgencies</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Default_Ticket_Agency</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>EventPrimaryHeadlinerArtist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Deal</name>
        <label>Create Deal</label>
        <locationX>135</locationX>
        <locationY>1017</locationY>
        <inputAssignments>
            <field>Artist__c</field>
            <value>
                <elementReference>vPrimaryHeadlinerArtist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event__c</field>
            <value>
                <elementReference>sEvent.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>vOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rank__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Primary Headliner</stringValue>
            </value>
        </inputAssignments>
        <object>Deal__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Event</name>
        <label>Create Event</label>
        <locationX>135</locationX>
        <locationY>311</locationY>
        <connector>
            <targetReference>Assign_Output_Variable_ID</targetReference>
        </connector>
        <inputReference>sEvent</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Event_Date_Time</name>
        <label>Create Event Date Time</label>
        <locationX>541</locationX>
        <locationY>516</locationY>
        <assignRecordIdToReference>vEventDateTime</assignRecordIdToReference>
        <connector>
            <targetReference>Lookup_Venue_Ticket_Agency</targetReference>
        </connector>
        <inputAssignments>
            <field>EventDate__c</field>
            <value>
                <elementReference>vEventDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventYear__c</field>
            <value>
                <elementReference>vEventYear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event__c</field>
            <value>
                <elementReference>sEvent.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>vOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartTime__c</field>
            <value>
                <elementReference>vStartTime</elementReference>
            </value>
        </inputAssignments>
        <object>EventDateTime__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Event_Ticket_Agency</name>
        <label>Create Event Ticket Agency</label>
        <locationX>689</locationX>
        <locationY>881</locationY>
        <assignRecordIdToReference>vEventTicketAgency</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Bypass_Flag</targetReference>
        </connector>
        <inputAssignments>
            <field>BypassValidation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventDateTime__c</field>
            <value>
                <elementReference>vEventDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TicketAgency__c</field>
            <value>
                <elementReference>sVenueTicketAgency.TicketAgency__c</elementReference>
            </value>
        </inputAssignments>
        <object>EventTicketAgency__c</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Venue_Ticket_Agency</name>
        <label>Lookup Venue Ticket Agency</label>
        <locationX>134</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Default_Venue_Ticket_Agencies</targetReference>
        </connector>
        <filters>
            <field>Venue__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vVenue</elementReference>
            </value>
        </filters>
        <object>VenueTicketAgency__c</object>
        <outputReference>scVenueTicketAgencies</outputReference>
        <queriedFields>IncludeinNewEvents__c</queriedFields>
        <queriedFields>TicketAgency__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>RecordTypeIDLookup</name>
        <label>RecordTypeIDLookup</label>
        <locationX>518</locationX>
        <locationY>92</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_New_Event</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vRecordTypeName</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Event__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Bypass_Flag</name>
        <label>Update Bypass Flag</label>
        <locationX>689</locationX>
        <locationY>756</locationY>
        <connector>
            <targetReference>Loop_Through_Venue_Ticket_Agencies</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vEventTicketAgency</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BypassValidation__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>EventTicketAgency__c</object>
    </recordUpdates>
    <startElementReference>RecordTypeID</startElementReference>
    <variables>
        <name>scVenueTicketAgencies</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VenueTicketAgency__c</objectType>
    </variables>
    <variables>
        <name>sEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Event__c</objectType>
    </variables>
    <variables>
        <name>sVenueTicketAgency</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VenueTicketAgency__c</objectType>
    </variables>
    <variables>
        <name>vAppetizeEvent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vEventDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vEventDateTime</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vEventId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vEventName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vEventTicketAgency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vEventYear</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOffice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOver5Hours</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>fOwner</elementReference>
        </value>
    </variables>
    <variables>
        <name>vPrimaryHeadlinerArtist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPromoter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vRentalBuildOption</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vStartTime</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSubtype</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTemporaryStageToBeUsed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vVenue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
